body {
  margin: 0;
  font-family: flexo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-img {
  background-image: url("../public/img/bg_img.svg");
  background-repeat: no-repeat;
  background-size: cover;
}