img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
.card_img {
    width: 100%;
    height: 1;
}

.gif{
  position: absolute;
  top: 90px;
  left: 1000px;
}

.pokemon-list-container {
  color: #000;
  text-align: left;
  background-color: #F7FBFD;
  border-radius: 45px;
  margin-top: 5rem;
  margin-left: -105px;
  width: 460px;
}

.pokemon-selection-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 45px;
}

.selection-column{
  display: flex;
  flex-direction: column;
  /* height: 16px; */
  gap: .25rem; 
}

.pokemon-image {
  margin-bottom: -65px;
}

.add-to-team-button {
  margin-top: 1rem;
  background-color: #F7FBFD;
  font-family: flexo;
  font-weight: 600;
  margin-right: 45px;
  border: none;
  text-decoration: underline 1.5px;
  float: right;
  text-underline-offset: 3px;
  font-size: 13px;
  
}

select {
  background: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-family: flexo;
}

.selected-item p {
font-size: 12px;
position: absolute;
}

.desc-container {
  position:relative;
  top: 70px;
  background-color: #C4CDFF;
  padding: 10px 45px 15px 45px;
  margin: 0px;
  border-radius: 0px 0px 45px 45px;
}

.desc-container p {
  font-size: 14px;
}
