.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  margin-right: -5rem;
  margin-top: 11.5rem;

}

.team-member {
  text-align: center;
  background-color: #F7FBFD;
  padding: 10px;
  border-radius: 25px;
}
